@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');

body {
    /*background-color: rgb(208, 233, 225);
    background-image: url("../images/leonardo-da-vinci-02.jpg") ;*/
    background-repeat: no-repeat;
    background-position-x: right;
    font-family: spectral, Arial, sans-serif;
    color: rgba(7, 9, 122, 0.65);
}
.journalbox{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink:1;
    flex-basis: 200px;
}
#journalDate, #concenptsCovered,#journalEntry,#moodChoises,#oldentries {
     margin-left:2em;
}

.old-entries {
    list-style: none;
    padding: 10px;
    border: dotted salmon 3px;
    margin-top: 40px;
    width: 80vw;
    padding:1em;
} 
.listOfOldEntries {
   
    width: 80vw;
    height: 50px;
    margin-bottom: 20px;
   
  
}
fieldset {
    padding:1em;
    width: 80vw;

}
button {
    margin:20px 0px;
}

#FairtoMiddling {
    /* background-color: rgb(148, 98, 5); */
}

#sad {
    /* background-color: rgb(2, 30, 49);
    color: thistle; */
}
#mad {
    /* background-color: rgb(228, 4, 4);
*/
} 
#overwhelmed {
    /*this does not work:background-image: url ("images/ow.png");*/
    /* background-color: rgb(10, 0, 0);
    color: thistle; */
} 

#soso {
    /* background-color: rgb(2, 75, 20); */
}
#frustrated {
    /* background-color: rgb(50, 14, 14);
    color: thistle; */
}
h2 {
    text-indent: 1em;
}
h4 {
    display: inline-block;
}

.journalEntry-date {
    text-indent: 10px;}
/* hoover effect -change color*/